* {
	padding: 0;
	margin: 0;
	font-size: 0.3rem;
	font-family: "微软雅黑";
}
i {
	font-style: normal;
}
ul li{
	list-style: none;
}
a {
	text-decoration: underline;
	text-decoration: none;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #ccc;
}
html{
    width: 100%;
    height: 100%;
    font-size: 100px;
    background: #f8f8f8;
}
body{
    width: 100%;
    height: 100%;
    background: #f8f8f8;
}
/*开始*/
.hide{
	width:100%;height:.6rem;
	background:#1CE6D0;
	display: none;
}
.hide span{
	display: block;
	width:70%;
	height:.6rem;
	text-align: center;
	line-height:.6rem;
	margin: auto;
	color:white;
}
header{
	width:100%;
	height:4.88rem;
}
header div{
	width:90%;height:100%;
	margin: auto;
	background:url(../img/car.png)no-repeat;
	background-size: 100% 100%;
}
/*nav中间部分从车型-价格开始*/
nav{
	width:100%;
	height:1.4rem;
	padding-top:0.2rem;
}
.nav-font{
	width:95%;height:1.4rem;
	border-bottom:1px solid #eeeeee;
	margin: auto;
}
.info{
	width:100%;
	height:0.4rem;
}
.info span{
	display: block;
	float: left;
	height:0.3rem;
	min-width:0.9rem;
	margin-right: 0.1rem;
	background:#22e5c7;
	text-align: center;
	line-height: 0.3rem;
	color: white;
	-webkit-border-radius: 0.07rem;
	font-size:0.2rem;
}
.info p{
	display: block;
	float: left;
	min-width:0.5rem;
	height:0.4rem;
	line-height: 0.4rem;
	font-size:0.12rem;
	color: #999999;
}
.money{
	width:100%;
	height:0.45rem;
	margin-top: 0.1rem;
}
.money span{
	display: block;
	color:#ff0004;
	float: left;
	text-align: center;
	height:0.45rem;
	width:0.2rem;
	line-height: 0.65rem;margin-right: 0.2rem;
	
}
.money p{
	display: block;
	height:0.45rem;
	min-width:0.5rem;
	float:left;
	color: #B4B4B4;
	font-size:0.14rem;
	text-align: center;
	margin-right: 0.1rem;
	line-height:0.75rem;
}
.money b{
	display: block;
	height:0.45rem;
	min-width:0.5rem;
	float:left;
	color: #ff0004;
	font-size:0.45rem;
	text-align: center;
	margin-right: 0.1rem
}
.car-info{
	width:100%;
	height:1.1rem;
	padding:0.2rem 0;
}
.car-info ul{
	width:95%;
	height:0.5rem;
	margin-bottom: 0.2rem;
	margin: auto;
}
.car-info ul li{
	float: left;
	width:30%;
	height:0.5rem;
}
.car-info-top li a{
	display: block;
	width:100%;
	height:100%;
	text-align: center;
	color: #6d6d6d;
}
.car-info-footer li a{
	display: block;
	width:100%;
	height:100%;
	text-align: center;
	color: #B4B4B4;
	font-size:0.14rem;
}
/*footer从用户头像开始*/
footer{
	width:100%;height:3rem;
	background: #EBEBEB;
	padding-top:0.2rem;
}
.footer-wrap{
	width:100%;height:3rem;
	background: white;
}
.names-info{
	width:90%;height:1.2rem;
	margin: auto;
	padding-top: 0.2rem;
}
.heads{
	width:1rem;
	height:1rem;
	-webkit-border-radius:50%;
	background:deepskyblue;
	float: left;
	margin-left: 0.2rem;
}
.heads span{
	display: block;
	width:100%;
	height:100%;
	text-align: center;
	line-height:1rem;
}
.names-id{
	min-width:1.2rem;
	height:1rem;
	float: left;
	text-align: center;
	margin-left:0.2rem;
	line-height:0.4rem;
	margin-top:0.1rem;
}
.names-id p{
	min-width:1.2rem;
	height:0.5rem;
	text-align: center;
	margin: auto;
}
.name{
	font-size:0.16rem;
	color: #758294;
}
.carson{
	font-size:0.12rem;
	color: #BABABA;
}
.call{
	float: right;
	width:1.2rem;
	height:0.6rem;
	padding-top:0.3rem;
}
.call a{
	display:block;
	width:100%;
	height:0.4rem;
	background:#22DFCC;
	-webkit-border-radius:0.1rem;
	font-size:0.12rem;
	color: white;
	text-align: center;
	line-height:0.4rem;
}
.owner{
	width:93%;height:0.5rem;
	margin: auto;
	-webkit-border-radius:0.07rem;
	background:#EBEBEB;
	padding-left:2%;
}
.owner p{
	display: block;
	width:1.5rem;
	height:0.5rem;
	text-align: center;
	line-height: 0.5rem;
	float: left;
	font-size: 0.14rem;
	color: #979797;
}
.owner span{
	display: block;
	min-width:1rem;
	height:0.5rem;
	text-align: center;
	line-height: 0.5rem;
	float: left;
	font-size:0.14rem;
	color:#BABABA;
}
.tag{
	width:100%;
	height:1.2rem;
}
.tag ul{
	width:95%;
	height:1.2rem;
	margin: auto;
}
.tag ul li{
	float: left;
	width:50%;
	height:0.6rem;
}
.tag ul li a{
	display: block;
	width: 100%;
	height:0.6rem;
	text-align: center;
	line-height:0.6rem;
	color: #797979;
	font-size:0.16rem;
}
