@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1464944928_8735461.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1464944928_8735461.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1464944928_8735461.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1464944928_8735461.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1464944928_8735461.svg#iconfont') format('svg'); /* iOS 4.1- */
}            
*{font-family: "Microsoft yahei";margin: 0;padding: 0;}
.iconfont{font-family:"iconfont";font-size:16px;font-style:normal;-webkit-font-smoothing: antialiased;
-webkit-text-stroke-width: 0.2px;color: #fff;}
a{text-decoration: none;font-family: "Microsoft yahei";}
.bottom{position: fixed;left: 0;bottom: 0;background-color: #484850;width: 40.0rem;height: 6.125rem;}
.bottom-item{float: left;width: 8.0rem;box-sizing: border-box;padding-left: 2.375rem;}
.bottom-item p{color: #fff;font-size: 1.25rem;margin-left: 0.3125rem;}
.bottom-item3 p,.bottom-item4 p{margin-left: 0;}
.bottom-item i{font-size: 3.25rem;}

                    